<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-6 p-3 mb-2 bg-bbt text-white">
      <img src="assets/icons/logo.png" class="img-fluid logo pl-40" />
      <h1 class="display-2 pl-40">Lorem ipsum
        dolor sit amet</h1>
      <p class="desc1 pl-40 pb-5">
        consectetur adipiscing elit, sed do eius
        mod tempor incididunt ut labore et dolo
        re magna aliqua onsectetur adipiscing
        elit, sed do eius mod tempor incid.
      </p>
    </div>
    <div class="col-md-6 p-3 mb-2 bg-bbt2">
      <p class="pl-40 mt-5rem font-weight-light newNblogTxt text-monospace">
        News & blog
      </p>
      <hr class="style" width="87%">
      <div class="pl-20 text-monospace font-weight-normal">
        <ul class="list-group">
          <li class="list-group-item lg-item1 border-0 bg-bbt2">KiwiSaver HomeStart grant explained
            <img src="assets/icons/black-arrow2.png" class="float-right arrow-img align-middle" />
          </li>
          <li class="list-group-item lg-item1 border-0 bg-bbt2">What's happening in the property market?
            <img src="assets/icons/black-arrow2.png" class="float-right arrow-img align-middle" />
          </li>
          <li class="list-group-item lg-item1 border-0 bg-bbt2">trust law reform
            <img src="assets/icons/black-arrow2.png" class="float-right arrow-img align-middle" />
          </li>
          <li class="list-group-item lg-item1 border-0 bg-bbt2">Tax update - Simplication of taxes, foreign ...
            <img src="assets/icons/black-arrow2.png" class="float-right arrow-img align-middle" />
          </li>
          <li class="list-group-item lg-item1 border-0 bg-bbt2">what do the new lending rules mean?
            <img src="assets/icons/black-arrow2.png" class="float-right arrow-img align-middle" />
          </li>
          <li class="list-group-item lg-item1 border-0 bg-bbt2">How wil the Reserve Bank respond to ...
            <img src="assets/icons/black-arrow2.png" class="float-right arrow-img align-middle" />
          </li>
        </ul>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default mx-auto">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand a-link" href="#">
          Book keeping & payroll
        </a>
        <a class="navbar-brand a-link" href="#">
          Financial GST
        </a>
        <a class="navbar-brand a-link focus" href="#">
          KiwiSaver advice
        </a>
        <a class="navbar-brand a-link" href="#">
          Insuring people
        </a>
        <a class="navbar-brand a-link" href="#">
          Tax & business advice
        </a>
        <a class="navbar-brand a-link" href="#">
          Trustee service
        </a>
        <a class="navbar-brand a-link" href="#">
          Mortgage advice
        </a>
      </div>
    </div>
  </nav>

  <div class="row bg-bbt">
    <div class="col-md-9 nopadding">
      <img class="img-fluid mx-auto img2" data-src="holder.js/500x500/auto" src="assets/icons/video-img.png"
        data-holder-rendered="true">
    </div>
    <div class="col-md-3 p-3 mb-2 text-white col2">
      <h2 class="featurette-heading pl-30 pt-4">Why have a financial advicer?</h2>
      <p class="pl-30 pt-4">Haven was created out of the need to simply do things better with specialist advisers
        across a
        range of financial services. we will offer you the best practical advice for the unique situation.</p>
      <p class="pl-30 pb-4">
        Our financial advise span the north are south island making us conveniently positioned wherever you need us.
      </p>
      <div class="border-white">
        <span class="align-middle">Learn more about advisers</span>
        <a href="#"><img src="assets/icons/white-arrow.png" class="float-right" style="cursor: pointer;" /></a>
      </div>
    </div>
  </div>

  <div class="row bg-bbt">
    <div class="col-md-8 text-white">
      <h2 class="mt-5 font-weight-light text-monospace form-desc">Contact us today</h2>
      <p class="font-weight-light form-desc2">
        Brief intro paragraph about this section. Usu primis conclusionemque ad.
        Cu graecis ponderum qualisque eum,
        oblique malorum mei et
      </p>
      <div class="form-div pl-5">
        <form class="form-inline justify-content-center" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
          novalidate>
          <div class="form-row">
            <div class="col pb-1">
              <input placeholder="Full Name*" id="name" name="name" class="form-control text-white inputbg rounded-0"
                minlength="4" [(ngModel)]="data.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                required />
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required">Name is required</div>
              </div>
              <div *ngIf="f.submitted && name.errors?.minlength" class="invalid-feedback" style="font-size: 11px;">
                Name must be at least 4 characters long
              </div>
            </div>
            <div class="col pb-1">
              <input email placeholder="Email Address*" id="email" name="email" class="form-control text-white inputbg rounded-0"
                minlength="4" [(ngModel)]="data.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                required />
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email addresss is required</div>
              </div>
              <div *ngIf="f.submitted && email.errors?.email" class="invalid-feedback">
                Email addresss not valid
              </div>
            </div>
            <div class="col pb-1">
              <input type="number" placeholder="Contact number*" id="contact" name="contact" class="form-control text-white rounded-0"
                minlength="4" [(ngModel)]="data.contact" #contact="ngModel" [ngClass]="{ 'is-invalid': f.submitted && contact.invalid }"
                required />
              <div *ngIf="f.submitted && contact.invalid" class="invalid-feedback">
                <div *ngIf="contact.errors.required">Contact number is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col pb-1">
              <select name="meeting" [(ngModel)]="data.meeting" required #meeting="ngModel" [ngClass]="{ 'is-invalid': f.submitted && meeting.invalid }"
                class="form-control text-white inputbg option rounded-0">
                <option [ngValue]="undefined" selected> Book a meeting </option>
                <option *ngFor="let meet of meetings" [ngValue]="meet">
                  {{ meet.name }}
                </option>
              </select>
              <div *ngIf="f.submitted && meeting.invalid" class="invalid-feedback">
                <div *ngIf="meeting.errors.required">Please book a meeting</div>
              </div>
            </div>
            <div class="col pb-1">
              <select name="day" [(ngModel)]="data.day" required #day="ngModel" [ngClass]="{ 'is-invalid': f.submitted && day.invalid }"
                class="form-control text-white inputbg option rounded-0">
                <option [ngValue]="undefined" selected> Book a meeting </option>
                <option *ngFor="let day of days" [ngValue]="day">
                  {{ day.name }}
                </option>
              </select>
              <div *ngIf="f.submitted && meeting.invalid" class="invalid-feedback">
                <div *ngIf="day.errors.required">Please select prepared day</div>
              </div>
            </div>
            <div class="col pb-1">
              <input placeholder="Prepared time*" id="preptime" name="preptime" class="form-control text-white inputbg option rounded-0"
                type="time" value="00:00:00" [(ngModel)]="data.time" #preptime="ngModel" [ngClass]="{ 'is-invalid': f.submitted && preptime.invalid }"
                required />
              <div *ngIf="f.submitted && preptime.invalid" class="invalid-feedback">
                <div *ngIf="preptime.errors.required">Prepared time is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <textarea class="form-control text-white inputbg txtarea rounded-0" id="exampleFormControlTextarea1" rows="3"
                placeholder="Message"></textarea>
            </div>
          </div>
          <br>
          <div class="form-row submit-button pt-1 float-right">
            <div class="col"></div>
            <button class="btn btn-outline-light float-right">Submit</button>
          </div>
        </form>

      </div>
    </div>

    <div class="col-md-4 bg-bbt2">
      <p class="pl-30 mt-5 font-weight-light contact-us text-monospace">
        Contact Us
      </p>
      <hr class="style" width="87%">
      <div class="pl-10 text-monospace font-weight-normal">
        <ul class="list-group">
          <li class="list-group-item lg-item2 border-0 bg-bbt2">Find an adviser
            <img src="assets/icons/loc.png" class="float-left arrow-img pr-3" />
          </li>
          <li class="list-group-item lg-item2 border-0 bg-bbt2">Talk to an accountant
            <img src="assets/icons/forum.png" class="float-left arrow-img pr-3" />
          </li>
          <li class="list-group-item lg-item2 border-0 bg-bbt2">Talk to a mortgage broker
            <img src="assets/icons/home.png" class="float-left arrow-img pr-3" />
          </li>
          <li class="list-group-item lg-item2 border-0 bg-bbt2">0800 700 699
            <img src="assets/icons/phone.png" class="float-left arrow-img pr-3" />
          </li>
          <li class="list-group-item lg-item2 border-0 bg-bbt2">reception@havenadvisers.co.nz
            <img src="assets/icons/mail.png" class="float-left arrow-img pr-3" />
          </li>
          <li class="list-group-item lg-item2 border-0 bg-bbt2">Be a part of our facebook community
            <img src="assets/icons/black-arrow2.png" class="float-left arrow-img pr-3" />
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row footer text-white">
    <div class="pt-5 footer-center">
      <form class="form-inline2 justify-content-center" name="form2" (ngSubmit)="f.form.valid && onSubmit()" #f2="ngForm">
        <div class="row">
          <div class="align-middle pt-2 pr-2">
            <p class="text-uppercase">sign up to our newsletter</p>
          </div>
          <div class="float-left pr-2">
            <input placeholder="First name*" id="fname" name="fname" class="form-control text-white inputbg input2 rounded-0"
              minlength="4" [(ngModel)]="data.fname" #fname="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && fname.invalid }"
              required />
            <div *ngIf="f2.submitted && fname.invalid" class="invalid-feedback">
              <div *ngIf="fname.errors.required">Name is required</div>
            </div>
            <div *ngIf="f2.submitted && fname.errors?.minlength" class="invalid-feedback" style="font-size: 11px;">
              Name must be at least 4 characters long
            </div>
          </div>
          <div class="float-left pr-4">
            <input placeholder="Last name*" id="lname" name="lname" class="form-control text-white inputbg input2 rounded-0"
              minlength="4" [(ngModel)]="data.lname" #lname="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && lname.invalid }"
              required />
            <div *ngIf="f2.submitted && lname.invalid" class="invalid-feedback">
              <div *ngIf="lname.errors.required">Name is required</div>
            </div>
            <div *ngIf="f2.submitted && lname.errors?.minlength" class="invalid-feedback" style="font-size: 11px;">
              Name must be at least 4 characters long
            </div>
          </div>
        </div>
        <div class="float-left pb-2">
          <button class="btn btn-primary rounded-0">Submit</button>
        </div>
      </form>
    </div>
    <hr class="style" width="95%">
    <div class="pt-2 center">
      <img src="assets/icons/logo.png" class="img-fluid" />

    </div>

    <div class="center pt-3 footer-font text-uppercase">
      <div class="row row-footer">
        <div class="col-xs-1 col-md-2">home</div>
        <div class="col-xs-1 col-md-2">our services</div>
        <div class="col-xs-1 col-md-2">about us</div>
        <div class="col-xs-1 col-md-2">testimonials</div>
        <div class="col-xs-1 col-md-2">blog</div>
        <div class="col-xs-1 col-md-2">contact us</div>
      </div>
    </div>

    <div class="pt-3 footer text-white footer-center footer-number">
      <div class="row ">
        0800 700 699
      </div>
    </div>

    <div class="footer text-white footer-center footer-email">
      <div class="row">
        reception@havenadvisers.com
      </div>
    </div>

    <div class="footer text-white footer-center footer-number footer-copyright pb-4 pt-5">
      <div class="row copyright">
        Copy &copy; 2017 Haven Advisers Limited. All rights reserved.
      </div>
    </div>
  </div>



</div>

<router-outlet></router-outlet>